<a href="/tag/food">
  <div class="medium blue box leaf">
    <div class="image cover" style="background-image: url({{asset "images/food.jpg"}});"></div>
    <div class="collection-title">Food</div>
  </div>
</a>
<a href="/tag/drinks">
  <div class="medium blue box leaf">
    <div class="image cover" style="background-image: url({{asset "images/drinks.jpg"}});"></div>
    <div class="collection-title">Drinks</div>
  </div>
</a>
<a href="/tag/music">
  <div class="medium blue box leaf">
    <div class="image cover" style="background-image: url({{asset "images/music.jpg"}});"></div>
    <div class="collection-title">Music</div>
  </div>
</a>
<a href="/tag/outdoors">
  <div class="medium blue box leaf">
    <div class="image cover" style="background-image: url({{asset "images/outdoors.jpg"}});"></div>
    <div class="collection-title">Outdoors</div>
  </div>
</a>
<div class="clear"></div>
