<a class="no-decoration" href="/k/lifestyle">
  <div class="medium box leaf" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/lifestyle.jpg);">
    {{!-- <div class="image cover"></div> --}}
    <div class="newtitle">Lifestyle</div>
  </div>
</a>
<a class="no-decoration" href="/k/locals">
  <div class="medium box leaf" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/locals.jpg);">
    {{!-- <div class="image cover"></div> --}}
    <div class="newtitle">Locals</div>
  </div>
</a>
<a class="no-decoration" href="/k/outdoors">
  <div class="medium box leaf" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/outdoors.jpg);">
    {{!-- <div class="image cover"></div> --}}
    <div class="newtitle">Outdoors</div>
  </div>
</a>
<a class="no-decoration" href="/k/recommendations">
  <div class="medium box leaf" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/recommendations.jpg);">
    {{!-- <div class="image cover"></div> --}}
    <div class="newtitle">Recommendations</div>
  </div>
</a>
<div class="clear"></div>
