<a class="no-decoration" href="/k/southcentral">
  <div class="medium box leaf" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/lifestyle.jpg);">
    <div class="newtitle">Southcentral</div>
  </div>
</a>
<a class="no-decoration" href="/k/kenai-peninsula">
  <div class="medium box leaf" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/locals.jpg);">
    <div class="newtitle">Kenai Peninsula</div>
  </div>
</a>
<a class="no-decoration" href="/k/southeast">
  <div class="medium box leaf" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/outdoors.jpg);">
    <div class="newtitle">Southeast</div>
  </div>
</a>
<a class="no-decoration" href="/k/Interior">
  <div class="medium box leaf" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/recommendations.jpg);">
    <div class="newtitle">Interior</div>
  </div>
</a>
<div class="clear"></div>
