<a class="no-decoration" href="/tag/lifestyle">
  <div class="medium blue box leaf">
    <div class="image cover" style="background-image: url(https://knik.s3.amazonaws.com/2016/Apr/lifestyle.jpg);"></div>
    <div class="title">Lifestyle</div>
  </div>
</a>
<a class="no-decoration" href="/tag/locals">
  <div class="medium blue box leaf">
    <div class="image cover" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/locals.jpg);"></div>
    <div class="title">Locals</div>
  </div>
</a>
<a class="no-decoration" href="/tag/outdoors">
  <div class="medium blue box leaf">
    <div class="image cover" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/outdoors.jpg);"></div>
    <div class="title">Outdoors</div>
  </div>
</a>
<a class="no-decoration" href="/tag/recommendations">
  <div class="medium blue box leaf">
    <div class="image cover" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/recommendations.jpg);"></div>
    <div class="title">Recommendations</div>
  </div>
</a>
<div class="clear"></div>
