<a class="no-decoration" href="/tag/lifeinalaska">
  <div class="medium blue box leaf">
    <div class="image cover" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/lifeinalaska.jpg);"></div>
    <div class="title">Life in Alaska</div>
  </div>
</a>
<a class="no-decoration" href="/tag/media">
  <div class="medium blue box leaf">
    <div class="image cover" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/media.jpg);"></div>
    <div class="title">Media</div>
  </div>
</a>
<a class="no-decoration" href="/tag/outdoors">
  <div class="medium blue box leaf">
    <div class="image cover" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/outdoors.jpg);"></div>
    <div class="title">Outdoors</div>
  </div>
</a>
<a class="no-decoration" href="/tag/recommendations">
  <div class="medium blue box leaf">
    <div class="image cover" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/recommendations.jpg);"></div>
    <div class="title">Recommendations</div>
  </div>
</a>
<div class="clear"></div>
