<div id="list-container">
{{#each posts}}
  <div class="post-list-elem">
    <div class="title-a"><a href="{{ url }}">{{ title }}</a></div>
    <div class="author-a"><a href="{{ author.url }}">{{ author.name }}</a></div>
  </div>
{{/each}}
</div>
<div class="clear"></div>
