<div id="list-container">
{{#each posts}}
  <div class="post-list-elem">
    <div class="title-a"><a href="{{ url }}">{{ title }}</a></div>
    <div class="author-a">{{ author }}</div>
  </div>
{{else}}
  <div class="call-to-action">Looks like this collection's still empty.  Want to get involved?  <a href="mailto:contact@knik.co">Email us</a>.</div>
{{/each}}
</div>
<div class="clear"></div>
