{{#each posts}}
<a href="{{ url }}">
  <div class="little box leaf">
    <div class="image cover" style="background-image: url({{ image }});"></div>
    <div class="title">{{{ title }}}</div>
  </div>
</a>
{{/each}}
<div class="clear"></div>
