<div id="header">
  <div id="navigation-container">
    <a href="{{@blog.url}}">
      <div id="logo"></div>
      <div id="sublogo">{{@blog.title}}</div>
    </a>
    <div id="button-container">
      <div class="nav-item dropdown-target">
        <a href="#">Collections</a>
        <div class="dropdown-menu">
          {{#foreach navigation}}
          <div class="dropdown-item">
            <a href="{{ url }}">{{ label }}</a>
          </div>
          {{/foreach}}
        </div>
      </div>
      <div class="nav-item">
        <a href="/k/atlas">Atlas</a>
      </div>
      <div class="nav-item">
        <a href="/about">About</a>
      </div>
      <div class="nav-item dropdown-target">
        <a href="/contact">Contact</a>
        <div class="dropdown-menu">
          <div class="dropdown-item social">
            <a href="https://www.facebook.com/knik.co">
              <img src="/assets/facebook.png" />
            </a>
          </div>
          <div class="dropdown-item social">
            <a href="https://www.instagram.com/knik.co/">
              <img src="/assets/instagram.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
