<div id="header">
  <div id="navigation-container">
    <div id="logo">
      <a href="{{@blog.url}}">{{@blog.title}}</a>
    </div>
    <div id="button-container">
      <div class="nav-item dropdown-target">
        <a href="#">Collections</a>
        <div class="dropdown-menu">
          {{#foreach navigation}}
          <div class="dropdown-item">
            <a href="{{ url }}">{{ label }}</a>
          </div>
          {{/foreach}}
        </div>
      </div>
      <div class="nav-item">
        <a href="/about">About</a>
      </div>
      <div class="nav-item">
        <a href="/contact">Contact</a>
      </div>
    </div>
  </div>
</div>
