{{!< default}}

{{#author}}
<div id="splash" style="background-image: url({{@blog.cover}})"></div>
<div id="outer-container">
  <div id="inner-container">
    <h2>More by contributor {{ name }}</h2>
    <div id="tinytext">
      {{> "recents" }}
    </div>
  </div>
</div>
{{/author}}
