{{!< default}}

<div id="splash" style="background-image: url({{@blog.cover}})"></div>
<div id="outer-container">
  <div id="inner-container">
    <h1>More from {{ author.name }}</h1>
    <div id="tinytext">
      {{> "list" }}
    </div>
  </div>
</div>
