{{!< default}}

<div id="splash" style="background-image: url({{@blog.cover}})"></div>
<div id="outer-container">
  <div id="inner-container">
    <h1>Woah, hey, hold on.</h1>
    <h2>Whatever page you're looking for can't be found!</h2>
    <h3>Maybe head back to the <a href="/">home page</a>.</h3>
  </div>
</div>
