{{!< default}}

<div id="splash" style="background-image: url({{@blog.cover}})"></div>
<div id="outer-container">
  <div id="inner-container">
    <!-- <div id="tagline">{{ @blog.description }}</div> -->
    <div id="tinytext">
      <div class="divider">
        <span class="divtext">FEATURED</span>
      </div>
      {{> "multibox" }}
      <div class="divider">
        <span class="divtext">COLLECTIONS</span>
      </div>
      {{> "collections" }}
      <div class="divider">
        <span class="divtext">RECENTLY ADDED</span>
      </div>
      {{> "list" }}
    </div>
  </div>
</div>
