{{!< default}}

{{> "splash" }}
<div id="outer-container">
  <div id="inner-container">
    <div id="tinytext">
      <div class="divider">
        <span class="divtext">FEATURED</span>
      </div>
      {{> "multibox" }}
      <div class="divider">
        <span class="divtext">ATLAS</span>
      </div>
      <a class="no-decoration" href="/k/atlas">
        <div class="huge box leaf" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/atlas.png);">
          {{!-- <div class="image cover" ></div> --}}
          <div class="newtitle">Atlas</div>
        </div>
      </a>
      <div class="divider">
        <span class="divtext">REGIONS</span>
      </div>
      {{> "regions" }}
      <div class="clear"></div>
      <div class="divider">
        <span class="divtext">RECENTLY ADDED</span>
      </div>
      {{> "list" }}
    </div>
  </div>
</div>
