{{!< default}}

<div id="splash" style="background-image: url({{@blog.cover}})"></div>
<div id="outer-container">
  <div id="inner-container">
    <div id="tinytext">
      <div class="divider">
        <span class="divtext">FEATURED</span>
      </div>
      {{> "multibox" }}
      <div class="divider">
        <span class="divtext">COLLECTIONS</span>
      </div>
      {{> "collections" }}
      <div class="divider">
        <span class="divtext">ATLAS</span>
      </div>
      <a class="no-decoration" href="/tag/atlas">
        <div class="huge box leaf">
          <div class="image cover" style="background-image: url(https://s3-us-west-2.amazonaws.com/knik/atlas.png);"></div>
        </div>
      </a>
      <div class="clear"></div>
      <div class="divider">
        <span class="divtext">RECENTLY ADDED</span>
      </div>
      {{> "list" }}
    </div>
  </div>
</div>
