{{!< default}}

{{#if tag.image}}
  <div id="splash" style="background-image: url({{tag.image}})"></div>
{{else}}
  <div id="splash" style="background-image: url({{@blog.cover}})"></div>
{{/if}}
<div id="outer-container">
  <div id="inner-container">
    <!-- <div id="tagline">{{ @blog.description }}</div> -->
    <div id="tinytext">
      {{#unless tag}}
        {{> "multibox" }}
        <div class="divider">
          <span class="divtext">COLLECTIONS</span>
        </div>
        {{> "collections" }}
        <div class="divider">
          <span class="divtext">RECENTLY ADDED</span>
        </div>
      {{/unless}}
      {{> "recents" }}
    </div>
  </div>
</div>
