{{!< default}}

{{> "splash" }}
<div id="outer-container">
  <div id="inner-container">
    <div id="tinytext">
      {{#if tag.name}}
        <div class="divider">
          <span class="divtext">{{ tag.name }}</span>
        </div>
      {{/if}}
      {{> "list" }}
    </div>
  </div>
</div>
