{{!< default}}

{{#if tag.image}}
  <div id="splash" style="background-image: url({{tag.image}})"></div>
{{else}}
  <div id="splash" style="background-image: url({{@blog.cover}})"></div>
{{/if}}
<div id="outer-container">
  <div id="inner-container">
    <div id="tinytext">
      {{#if tag.name}}
        <div class="divider">
          <span class="divtext">{{ tag.name }}</span>
        </div>
      {{/if}}
      {{> "list" }}
    </div>
  </div>
</div>
