{{!< default }}

{{> "splash" }}
{{#post}}
<div id="outer-container">
  <div id="inner-container">
    <div id="post-container">
      <h1>{{ title }}</h1>
      {{ content }}
    </div>
  </div>
</div>
{{/post}}
