html, body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #222;
  margin-bottom: 4px;
  color: white;
  z-index: 999;
  font-family: Work Sans;
  font-weight: 200;
}

#header a {
  color: inherit;
  text-decoration: none;
}

#splash-overlay {
  font-family: Work Sans;
  font-size: 60px;
  font-weight: 200;
  color: white;
  position: fixed;
  top: 230px;
  padding: 10px 20px 10px 20px;
  border: solid white 2px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  text-transform: lowercase;
}

#navigation-container {
  max-width: 1200px;
  margin:auto;
}

#button-container {
  float: right;
  margin: 26px 8px 0 0;
  display: inline-block;
  text-align: right;
}

.nav-item {
  font-size: 26px;
  display: inline-block;
  margin: 0 0 6px 5px;
  padding: 0 0 0 14px;
  text-transform: lowercase;
}

.nav-item:hover {
  border-bottom: solid #222 3px;
}

#logo {
  font-size: 60px;
  margin-top: 6px;
  display: inline-block;
  font-weight: 200;
  padding-left: 4px;
}

#padding {
  height: 80px;
  width: 100%;
}

#splash {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4px;
  position: fixed;
  z-index: -4;
}

#tagline {
  text-align: center;
  font-size: 24px;
  margin: 46px 0 46px 0;
}

.clear {
  clear: both;
}

.divider {
  text-align: center;
  font-size: 20px;
  margin: 40px 5px 46px 5px;
  position: relative;
  z-index: 0;
}

.divider:after  {
  content: "";
  position: absolute;
  top: 48%;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  z-index: -1;
}

span.divtext {
  background: #eee;
  margin: 0;
  padding: 0 20px 0 20px;
}

#outer-container {
  width: 100%;
  margin: 0;
  background-color: #eee;
}

#inner-container {
  margin: auto;
  margin-top: 400px;
  padding: 4px 0px 4px 0px;
  background-color: #eee;
}

#post-container {
  max-width: 600px;
  line-height: 180%;
  font-family: Georgia, serif;
}

#post-container img {
  max-width: 100%;
}

#tinytext {
  font-size: 0;
}

#banner {
  width: 100%;
  height: 100%;
  position: fixed;
  x: 0;
  y: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  z-index: 1000;
}

#right-container {
  width: 50%;
  margin: 0;
  display: inline-block;
}

a .multibox-title {
  text-decoration: none !important;
}

.cover {
  background-size: cover;
  background-position: center;
}

.box {
  margin: 4px;
  float: left;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.title {
  background-color: rgba(0,0,0,0.6);
  overflow: hidden;
  position: relative;
  padding: 8px 10px 8px 10px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.collection-title {
  height: 72px;
  position: relative;
  bottom: 70px;
  padding: 4px 10px 4px 10px;
  margin-left: 30px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.recent-post {
  font-size: 24px;
  margin: 10px 0 40px 5px;
}

.recent-post a {
  color: inherit;
  text-decoration: none;
}

.recent-post a:hover {
  text-decoration: underline;
}

.author {
  width: 100%;
  height: 100px;
  margin: 60px 0 64px 0;
}

.author a {
  color: inherit;
  text-decoration: none;
}

.author a:hover {
  text-decoration: underline;
}

.author-image {
  float: left;
  position: relative;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}

.author-info {
  float: left;
  height: 80px;
  margin-left: 20px;
}

.author-name {
  font-size: 24px;
}

.author-bio {
  padding-bottom: 2px;
}

.author-more-by {
  font-size: 14px;
  color: #777;
}

div#footer {
  text-align: center;
  font-size: 30px;
  color: #eee;
  font-family: Work Sans;
  font-weight: 200;
  padding: 100px 0 100px 0;
  background-color: #222;
  width: 100%;
}

div#footer a {
  color: #eee;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: Work Sans;*/
  font-weight: normal;
}
